@media only screen and (max-width: 500px) {
    
    /* Utilities */

    h1 {
        margin: 2rem 0;
        line-height: 5rem;
        font-size: 4rem;
    }

    h2 {
        font-size: 1.3rem;
        margin: 1rem 0;
    }


    /* Containers */

    .container {
        padding: 1rem;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .flex-container {
        padding: 0 ;
    }

    /* Buttons */
    .btn {
        margin: 0.5rem 0;
    }


    /* Style */

    /* Desktop Navbar */
    #navbar {
        display: none;
        
    }

    /* Navbar Menu */
    .menu-wrap {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
    }
    
    /* Toggler */
    .menu-wrap .toggler {
        height: 50px;
        width: 50px;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        z-index: 3;
    }

    /* Hamburger Design */
    .menu-wrap .hamburger {
        height: 60px;
        width: 60px;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        padding: 1rem;
        top: 0;
        right: 0;
        z-index: 2;
    }
    
    .menu-wrap .hamburger > div {
        background: var(--light-color);
        flex: none;
        height: 2px;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    
    .menu-wrap .hamburger > div::after,
    .menu-wrap .hamburger > div::before {
        content: "";
        background: inherit;
        position: absolute;
        right: 0;
        top: -10px;
        width: 100%;
        height: 2.5px;
    }
    
    .menu-wrap .hamburger > div::after {
        top: 10px;
    }
    
    /* Toggler Animation */
    .menu-wrap .toggler:checked +.hamburger > div {
        transform: rotate(135deg);
        background: var(--dark-color);
    }
    
    .menu-wrap .toggler:checked +.hamburger > div::after,
    .menu-wrap .toggler:checked +.hamburger > div:before {
        top: 0;
        transform: rotate(90deg);
    }
    
    .menu-wrap .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg);
    }
    
    /* Menu Animation */
    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
    }
    
    .menu-wrap .toggler:checked ~ .menu > div {
        transform: scaleY(1);
    }
    
    /* Menu Content */
    .menu-wrap .menu {
        position: fixed;
        top: 0;
        right: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        visibility: hidden;
    }
    
    .menu-wrap .menu > div {
        background: var(--light-color);
        display: flex;
        flex: none;
        padding-top: 60px;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        width: 100%;
        text-align: center;
        transform: scaleY(0);
        transform-origin: 50% 0%;
        transition: all 0.4s ease;
    }
    
    .menu-wrap .menu > div  > ul {
        transition: opacity 0.4s ease;
        width: 100%;
    }
    
    .menu-wrap .menu > div  > ul > li {
        width: 100%;
        margin: 1.3rem 0;
        padding: 0.8rem 0;
    }
    
    .menu-wrap .menu > div  > ul > li.active {
        background: rgba(0, 0, 0, 0.05);
    }

    /* ------------------------------------------------------------------------------------------------------------------- */
    /* -------------------------------------------------------Index------------------------------------------------------- */
    /* ------------------------------------------------------------------------------------------------------------------- */

    /* Index Showcase */
    .showcase-content p {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }


    /* Head Chef - Section */
    #head-chef {
        height: 100vh;
    }

    #head-chef .col:first-child {
        flex: none;
        width: 300px;
        margin: 0;
        margin-bottom: 2rem;
    }

    #head-chef .col:last-child {
        align-items: flex-start;
        padding: 0 1.4rem;
    }

    /* Menu Section */
    #menu {
        height: 180vh;
    }

    /* Farm Section */
    #farm {
        height: 80vh;
    }

    #farm div:last-child {
        margin: 0 auto;
        height: 30vh;
        width: 350px;
    }

    /* Catering Section */
    #catering {
        height: 70vh;
    }

    #catering .col:last-child {
        margin-top: 1.5rem;
        align-self: flex-start;
    }

    /* ------------------------------------------------------------------------------------------------------------------- */
    /* -------------------------------------------------------Menu-------------------------------------------------------- */
    /* ------------------------------------------------------------------------------------------------------------------- */

    /* Dinner-menu Section */
    #dinner-menu .flex-container .col div {
        margin-top: 4rem;
    }

    /* ------------------------------------------------------------------------------------------------------------------- */
    /* -------------------------------------------------------Local------------------------------------------------------- */
    /* ------------------------------------------------------------------------------------------------------------------- */
    
    /* Local Menu Section */
    #local .container p {
        margin: 0 2rem;
    }

    #local .flex-container .col {
        width: 300px;
    }

    /* ------------------------------------------------------------------------------------------------------------------- */
    /* -------------------------------------------------------Contact----------------------------------------------------- */
    /* ------------------------------------------------------------------------------------------------------------------- */
    
    /* Contact Menu Section */
    #contact {
        height: 100vh;
    }

}







